/* =============================================================================
   NORMALIZATION
========================================================================== */

*  {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
[hidden] { display: none; }

ul, ol {
    list-style: none;
}


/* =============================================================================
   COMMONS
========================================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: #2a2a2a;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: normal;
    color: #aaa;
}

a {
    color: #aaa;
    text-decoration: none;
    font-weight: bold;
}


.gridster {
    width: 1240px;
    margin: 0 auto;

    opacity: 1;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs_w {
    background: #333;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
    

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(0,0,0,.8)!important;
}



div .configHeader {
  width: 600px; 
  margin: 0 auto;
  padding:5px 10px;
  height:30px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  background-color: #444;
  color:#aaa; 
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}


div .configMain {
  width: 600px; 
  margin: 0 auto;
  color:#aaa; 
  background-color: #333;  
}


.formConfig {
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
  padding: 5px;
}

.formConfig  button {
  background: #CCC; 
  color: #333; 
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  margin: 10px;
  border: none;
}

.formConfig  button:hover {
  background: #aaa; 
}

.formButton  {
  background: #CCC; 
  color: #333; 
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  margin: 10px;
  border: none;
}

.formButton:hover {
  background: #aaa; 
}  

#formConfig label {
  text-align: left;
  display: block;
  margin: 10px 0 10px 20px;
}

#formConfig label input {
  float: right;
  width:300px;
  margin-right:20px;
}

#formConfigWarning {
  color : #500;
  background-color : #a88;
}

#formConfigWarning div {
  text-align: left;
  display: block;
  padding: 10px 0 10px 100px;
}

div #msgConfigSuccess {
  text-align: center;
  color : #050;
  background-color : #8a8;
  font-weight: 500;
  padding: 10px 100px 10px 100px;
}

div .tileSettings {
  width: 130px; /* .gs_w.width-20 */
  margin: 0 auto;
  display:block;
  background-color: #333; 
  display:none; 
}

div .tileHeader {
  padding:5px 10px;
  margin:0px;
  height:30px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  background-color: #444;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

div .tileMain {
  width: 130px; /* .gs_w.width-20 */
  margin: 0 auto;
  display:block;
  background-color: #333;  
}


div .tileMain h1 {
  height:110px; /* .gs_w.height-40 */
  line-height:110px; /* .gs_w.height-40 */
  text-align: center;

}

div .tileMain h1 span{
  width: 130px; /* .gs_w.width-20 */
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600px;
  line-height: 1.2em;
  -webkit-hyphen: auto;
  -moz-hyphen: auto;
  -o-hyphen: auto;
  -ms-hyphen: auto;
  hyphen:auto;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

div .tileMain h1 .CountdownNOK {
  color : #d33;
}

div .tileMain h1 .CountdownOK {
  color : #3d3;
}

div .tileMain p {
  height:110px; /* .gs_w.height-40 */
  line-height:110px; /* .gs_w.height-40 */
  text-align: center;

}

div .tileMain p span{
  width: 130px; /* .gs_w.width-20 */
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  font-weight: 300px;
  line-height: 1.2em;
  -webkit-hyphen: auto;
  -moz-hyphen: auto;
  -o-hyphen: auto;
  -ms-hyphen: auto;
  hyphen:auto;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}



div .weather {
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

div .weather h2 {
  margin: 0 0 8px;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

div .weather ul {
  margin: 0;
  padding: 0;
}

div .weather li {
  font-size: 0.9em;
  padding: 3px;
  display: inline-block;
}

div .weather .currently {
  font-size: 0.9em;
  margin: 0 3px;
}


.tisseo {
  margin: 0 auto;
  padding:5px 20px;
}

.round {
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;

  background-color: #b33;
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}


.window {
  position:fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#loading {
  width:375px; 
  height:220px;
  text-align: center;
  margin: 0 auto;
  background-color: #2a2a2a;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: #aaa;
}


#loading a {
  background: #CCC; 
  color: #333; 
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  margin: 30px;
  border: none;
}

#loading a:hover {
  background: #aaa; 
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    width: 640px;
    padding: 20px;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #2a2a2a;
    color: #aaa;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}

.settings {
  font-size: 2em;
  padding: 10px;
  float:right;
}
.settings_tile {
  color:#444;
  font-size: 1.5em;
  text-shadow:none;
  margin:-5px -5px 0px 0px;
  float:right;
}
.settings_tile:hover {
  color:#aaa;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}


.formTileConfig {
  font-size: 0.75em;
  text-align: center;
/*  font-weight: 500;
*/  margin: 0 auto;
  padding: 5px;
}

.formTileConfig  button {
  background: #CCC; 
  color: #333; 
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  margin: 10px;
  border: none;
}

.formTileConfig  button:hover {
  background: #aaa; 
}

#formTileConfig label {
  text-align: left;
  display: block;
  margin: 5px 0 5px 5px;
/*  width: 500px;
*/}

#formTileConfig label input {
  float: right;
/*  width:300px;
*/  /*margin-right:20px;*/
}

#formTileConfig label select {
  float: right;
/*  width:300px;
*/  /*margin-right:20px;*/
}