/* =============================================================================
   NORMALIZATION
========================================================================== */

*  {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
[hidden] { display: none; }

ul, ol {
    list-style: none;
}


/* =============================================================================
   COMMONS
========================================================================== */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: #2a2a2a;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: normal;
    color: #0a0;
}

a {
    color: #0a0;
    text-decoration: underline;
    font-weight: bold;
}




.gridster {
    width: 1240px;
    margin: 0 auto;

    opacity: 1;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs_w {
    background: #333;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
    

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(0,0,0,.8)!important;
}



div .tileHeader {
  padding:5px 10px;
  margin:0px;
  height:30px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  background-color: #444;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

div .tileMain {
  width: 130px; /* .gs_w.width-20 */
  margin: 0 auto;
  display:block;
  background-color: #333;  
}


div .tileMain h1 {
  height:110px; /* .gs_w.height-40 */
  line-height:110px; /* .gs_w.height-40 */
  text-align: center;

}

div .tileMain h1 span{
  width: 130px; /* .gs_w.width-20 */
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600px;
  line-height: 1.2em;
  -webkit-hyphen: auto;
  -moz-hyphen: auto;
  -o-hyphen: auto;
  -ms-hyphen: auto;
  hyphen:auto;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

div .tileMain h1 .CountdownNOK {
  color : #d33;
}

div .tileMain h1 .CountdownOK {
  color : #3d3;
}

div .tileMain p {
  height:110px; /* .gs_w.height-40 */
  line-height:110px; /* .gs_w.height-40 */
  text-align: center;

}

div .tileMain p span{
  width: 130px; /* .gs_w.width-20 */
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  font-weight: 300px;
  line-height: 1.2em;
  -webkit-hyphen: auto;
  -moz-hyphen: auto;
  -o-hyphen: auto;
  -ms-hyphen: auto;
  hyphen:auto;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}



div .weather {
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

div .weather h2 {
  margin: 0 0 8px;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

div .weather ul {
  margin: 0;
  padding: 0;
}

div .weather li {
  font-size: 0.9em;
  padding: 3px;
  display: inline-block;
}

div .weather .currently {
  font-size: 0.9em;
  margin: 0 3px;
}


.tisseo {
  margin: 0 auto;
  padding:5px 20px;
}

.round {
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;

  background-color: #b33;
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}



